.page {
  background: #dbebfa;
}

.p-page-section {
  max-width: 75%; 
  margin: auto; 
  background: #dbebfa; 
  padding: 0px;
  clear: both;
}

.p-page-footer {
  background:#6a6a6a; 
  position: relative;
  left: 0; 
  bottom: 0px; 
  color: white; 
  text-align: center; 
  width: 100%; 
  max-height: 100px; 
  min-height: 250px;

}