
<meta http-equiv="content-type" content="text/html; charset=UTF-8"
    data-sly-use.head="head.js"
    data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
<title>${currentPage.title}</title>
<meta data-sly-test.keywords="${head.keywords}" name="keywords" content="${keywords}"/>
<meta data-sly-test.description="${currentPage.description}" name="description" content="${description}"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<link data-sly-test="${head.favIcon}"  rel="icon" type="image/vnd.microsoft.icon" href="${head.favIcon}"/>